<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voogee.mapper.MessageMapper">

    <select id="getMessage" resultType="com.voogee.bean.Message">
        select * from mqtt_message where topicname=#{topicname}
    </select>

    <insert id="addMessage">
        insert  into mqtt_message(username,topicname,qos,clientid,payload,event,publish_received_at) values (#{username},#{topicname},#{qos},#{clientid},#{payload},#{event},#{publish_received_at})
    </insert>



</mapper>
